@charset "UTF-8";
@media screen and (min-width: 350px) {
  .hidden-div.active {
    max-height: 180px !important;
  }
  .contact p {
    text-align: center !important;
  }
}
@media screen and (min-width: 420px) {
  .cta-button {
    width: 50% !important;
  }
  .alert {
    width: 45% !important;
    padding-right: 35px !important;
  }
}
@media screen and (min-width: 480px) {
  .language {
    height: 14.5vh !important;
  }
}
@media screen and (min-width: 500px) {
  .alert {
    width: 45% !important;
  }
}
@media screen and (min-width: 550px) {
  .alert {
    width: 38% !important;
  }
}
@media screen and (min-width: 650px) {
  h2 {
    font-size: 40px;
    font-weight: lighter;
  }
  .comment {
    font-size: 40px !important;
  }
  .home span,
  .home p {
    margin-top: 5rem;
    font-size: 30px;
  }
  .menu {
    display: none;
  }
  .close {
    display: none;
  }
  .content {
    position: relative;
    top: 0;
    top: 0 !important;
    height: auto !important;
  }
  .content ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .content ul li {
    display: inline-block;
    margin: 10px 5px 0 5px;
    text-align: center;
    width: auto;
  }
  .alert {
    width: 50% !important;
  }
  .cta-button {
    width: 35% !important;
  }
  .social {
    display: none !important;
  }
  .social-section {
    opacity: 1 !important;
  }
  .about p {
    width: 75%;
    line-height: 2 !important;
  }
  .contact .button-cta {
    width: 50%;
  }
}
@media screen and (min-width: 680px){
  .contact ul li{
    margin: 0 15px;
  }
}
@media screen and (min-width: 800px) {
  .alert {
    width: 55% !important;
    padding-right: 20px;
  }
}
@media screen and (min-width: 820px) {
  .cta-button {
    width: 25% !important;
  }
}
@media screen and (min-width: 900px) {
  h2 {
    font-size: 55px;
  }
}