@charset "UTF-8";

@font-face {
    font-family: "JetBrains Mono";
    font-style: normal;
    src: url(../fonts/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Fira Code";
    src: url(../fonts/Fira_Code/FiraCode-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto/Roboto-Black.ttf);
}
@font-face {
    font-family: "Roboto bold";
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}
:root{
    --color0: #ffffff;
    --color1: #0a3752;
    --color2: #04090D;
    --color3: #0F1D26;
    --color4: #6092A6;
    --color5: #9BDAF2;
    --color6: #022b4e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: var(--color2);
}
.overflow {
    display: none;
    position: absolute;
    opacity: 0;
    transition: opacity 0.7s ease-in;
    width: 100%;
    height: 100vh;
    background-color: #000000c0;
    z-index: 4;
}

header {
    font-family: 'Montserrat';
    color: var(--color0);
    z-index: 3;
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--color6);
}

header div {
    padding: 10px 10px 10px 0;
    flex: auto;
}

.logo {
    display: none;
    font-size: 9px;
}

.menu,
.close {
    color: var(--color0);
    z-index: 10;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

.close {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1.5px solid var(--color1);
    box-shadow: 0px 1px 9px var(--color1);
}

.content {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    position: absolute;
    top: -100%;
    transition: top .5s ease-in-out;
    border-top: 1.5px solid var(--color1);
    box-shadow: inset 0px 1px 9px var(--color1);
    padding: 0;
    width: 100%;
    height: 75vh;
    list-style-type: none;
    background-color: #182f3d;
    z-index: 4;
}

.content li{
    position: relative;
    font-size: 22px;
    padding: 15px;
    text-align: center;
    overflow: hidden;
}


.content li a{
    transition: color 1s ease;
    text-decoration: none;
    color: var(--color0);
}
.content li a:hover{color: #177cd4;}
.content li::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #286b94;
    z-index: -1;
    transition: width 1s ease, left 0.5s ease;
}
.content li::after{content: '';}
.content li:hover::before {
    width: 100%;
    left: 0;
}
.comment{
    font-family: "Fira code", Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #0a81e9;
}
.home{
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    margin: 20px;
    color: white;
}
.hi{font-size: 1.5rem;}
.typeEffect{font-size: 1rem;}
.typed-cursor{font-size: 1rem;}
.typewriter{font-weight: bold;}
.cta-mail{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cta-button i{
    padding-top: 7px;
    margin-right: 10px;
    font-size: 20px;
}
.cta-button{
    text-align: center;
    font-size: 17px;
    background-color: transparent;
    margin-top: 30px;
    width: 80%;
    height: 6vh;
    padding-bottom: 35px;
    border: 3px solid #177cd4;
    color: var(--color0);
    border-radius: 10px;
    cursor: pointer;
    transition: scale ease, background-color 1s ease-out, border 1s ease-out;
}
.cta-button:hover{
    transform: scale(1.01);
    background-color: #177cd4;
    border: none;

}
.social{margin-top: 15px;}
.social a{
    margin-right: 10px;
    transition: scale 2s ease-in-out;
}
.social a img{transition: scale ease-in-out;}
.social a img:hover{transform: scale(1.3);}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 85vw;
    margin: 15px 0 15px 0;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
.about h2{margin-bottom: 15px;}
.skills{
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
.skills h2{
    text-align: center;
    margin-bottom: 15px;
}
.skills p{
    margin: 0 0 15px 5px;
}
.skills h3{
    margin: 10px;
}
.skill-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: whitesmoke;
    width: 100%;
}
.front{
    color: #FF6F61;
}
.back{
    color: #007ACC;
}
.mobile{
    color: #FFD700;
}
.software{
    color: #34ebe5;
}
.language{
    font-family: "Roboto Bold";
    margin: 20px;
    text-align: center;
    width: auto;
    height: 50px;
    padding: 5px;
    background-color: rgb(35, 34, 34);
}
.language img{
    margin-top: 0px;
    margin-right: 15px;
    
}
.language span{
    position: relative;
    top: -10px;
    padding-right: 5px;
}
.show-more{
    text-align: center;
}
.show-more{
    text-wrap: nowrap;
    font-size: 20px;
}
.plus{transition: transform 0.8s ease;}
.plus:hover{transform: rotate(90deg);}
.scale{transition: transform 0.8s ease;}
.scale:hover{transform: scale(1.1);}