@charset "UTF-8";

@font-face {
    font-family: "JetBrains Mono";
    font-style: normal;
    src: url(../fonts/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Fira Code";
    src: url(../fonts/Fira_Code/FiraCode-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Roboto bold";
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

:root {
    --color0: #ffffff;
    --color1: #0a3752;
    --color2: #04090D;
    --color3: #0F1D26;
    --color4: #6092A6;
    --color5: #9BDAF2;
    --color6: #022b4e;
    --montserrat: "Montserrat", Arial, Helvetica, sans-serif;
    --jetBrains: "JetBrains Mono", Arial, Helvetica, sans-serif;
    --roboto: "Roboto bold", Arial, Helvetica, sans-serif;
}

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color0);
}

body {
    width: 100%;
    overflow-x: hidden;
    height: 100vh;
    background-color: var(--color2);
}

h2,
h3 {
    font-family: var(--jetBrains);
}

.alert-div {
    opacity: 0;
    transition: opacity 1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-div.show {
    opacity: 1;
}

.alert {
    z-index: 999;
    position: fixed;
    top: 85%;
    display: flex;
    align-items: center;
    width: 60%;
    height: 50px;
    background-color: var(--color1);
    border-radius: 8px;
}

.alert div .img {
    margin: 50px 35px 20px 5px;
}

.text {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 3.8em;
    color: var(--color0);
    font-family: var(--roboto);
}

.overflow {
    display: none;
    position: absolute;
    opacity: 0;
    transition: opacity 0.7s ease-in;
    width: 100%;
    height: 100vh;
    background-color: #000000c0;
    z-index: 4;
}

header {
    font-family: 'Montserrat';
    color: var(--color0);
    z-index: 3;
    background-color: var(--color6);
}

header div {
    padding: 10px 10px 10px 0;
    flex: auto;
}

.logo {
    display: none;
    font-size: 9px;
}

.menu,
.close {
    color: var(--color0);
    z-index: 10;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

.close {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1.5px solid var(--color1);
    box-shadow: 0px 1px 9px var(--color1);
}

.content {
    font-family: var(--montserrat);
    position: absolute;
    top: -100%;
    transition: top .5s ease-in-out;
    border-top: 1.5px solid var(--color1);
    box-shadow: inset 0px 1px 9px var(--color1);
    padding: 0;
    width: 100%;
    height: 67vh;
    list-style-type: none;
    background-color: #182f3d;
    z-index: 1000;
}

.content li {
    position: relative;
    font-size: 22px;
    padding: 15px;
    text-align: center;
    overflow: hidden;
}

.content li a {
    transition: color 1s ease;
    text-decoration: none;
    color: var(--color0);
}

.content li a:hover {
    color: #177cd4;
}

.content li::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #286b94;
    z-index: -1;
    transition: width 1s ease, left 0.5s ease;
}

.content li::after {
    content: '';
}

.content li:hover::before {
    width: 100%;
    left: 0;
}

.comment {
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #424242;
}

.social-section {
    z-index: 999;
    opacity: 0;
    position: fixed;
    top: 75%;
    left: 90%;
    margin-left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.line {
    background-color: var(--color4);
    height: 200px;
    width: 1px;
    border: none;
}

.social-big {
    position: relative;
    top: -270px;
}

.social-big .social-scale {
    transition: transform 1.5s ease;
    margin-bottom: 10px;
}

.social-big .social-scale:hover {
    transform: scale(1.6);
}

.home {
    background-image: url();
    font-family: var(--jetBrains);
    margin: 20px;
    color: var(--color0);
}

.hi {
    font-size: 1.5rem;
}

.home h2 {
    font-family: var(--montserrat) !important;
}

.typeEffect {
    font-size: 1rem;
}

.typed-cursor {
    font-size: 1rem;
}

.typewriter {
    font-weight: bold;
}

.cta-mail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cta-button {
    text-align: center;
    font-size: 17px;
    background-color: transparent;
    margin-top: 30px;
    width: 80%;
    height: 6vh;
    padding-bottom: 35px;
    border: 3px solid #177cd4;
    color: var(--color0);
    border-radius: 10px;
    cursor: pointer;
    transition: scale ease, background-color 1s ease-out, border 1s ease-out;
}

.cta-button:hover {
    transform: scale(1.01);
    background-color: #177cd4;
    border: none;
}

.cta-button i {
    padding-top: 7px;
    margin-right: 10px;
    font-size: 20px;
}

.cta-button a {
    color: var(--color0);
    text-decoration: none;
}

.social {
    margin-top: 15px;
}

.social a {
    margin-right: 10px;
    transition: scale 2s ease-in-out;
}

.social a img {
    transition: scale ease-in-out;
}

.social a img:hover {
    transform: scale(1.3);
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 15px 0 15px 0;
    font-family: var(--montserrat);
}

.about p {
    margin: 15px 10px 10px 0;
    line-height: 1.5;
    font-weight: light;
}

.skills {
    font-family: var(--montserrat);
}

.skill-p {
    font-size: 17px;
    margin: 15px;
}

.skills h2 {
    text-align: center;
    margin-bottom: 15px;
}

.skills h3 {
    margin: 10px;
}

.skill-section {
    
    text-align: center;
}

.language {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #0F1D26;
    padding: 20px;
    border-radius: 5px;
    transition: transform 0.3s ease;
    box-sizing: border-box;
    border-bottom: 0.1px solid var(--color2);
}


.language:hover {
    background-color: rgb(53, 51, 51);
    transform: scale(1.2);
}

.language img {
    margin-bottom: 5px;
}

.language span {
    position: relative;
    top: -10px;
    padding-right: 5px;
}

.show-more {
    cursor: pointer;
}

.show-more {
    text-align: center;
    text-wrap: nowrap;
    font-size: 20px;
    margin-bottom: 20px;
}

.show-less {
    margin-top: 15px;
    display: none;
}

.hidden-div {
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s ease-in;
}

.hidden-div.active {
    max-height: 600px !important;
}

.scale {
    transition: transform 0.8s ease;
}

.scale:hover {
    transform: scale(1.1);
}

.projects {
    text-align: center;
    text-wrap: nowrap;
}

.projects h2 {
    margin-bottom: 20px;
}

.project {
    transition: transform 1s ease-in;
    margin: 20px 0 20px 0;
    flex: 1 1 calc(33.33% - 20px);
    text-align: center;
    padding: 20px;
}

.projects img {
    width: 30vh;
    transition: transform 0.8s ease;
    margin-bottom: 20px;
    margin-top: 15px;
}

.projects img:hover {
    transform: scale(1.2);
}

.project-div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--montserrat);
}

.contact .button-cta {
    margin: 5px;
}

.contact button {
    margin: 15px;
    padding: 10px;
    width: auto;
    height: 40px;
    background-color: var(--color1);
    color: var(--color0);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: transform 1s ease-in;
}

.contact button:hover {
    transform: scale(1.3);
}

.contact .link_cta {
    color: rgb(199, 198, 198);
    text-decoration: none;
    transition: color 0.5s ease-out;
}

.contact .link_cta:hover {
    color: rgb(242, 242, 242);
    text-decoration: underline;
}

footer {
    background-color: black;
    text-align: center;
    margin-top: 15px;
    padding-top: 40px;
    width: 100%;
    height: 20vh;
}